body{
    margin-left:10%;
    margin-right:10%;
}

.topHeader, h1,img{
    margin-left:25%;
    font-size:26px;
    margin:0;
    display: inline-block;
    width:100;
    height: auto;
}
nav,ul,li,a{
    border:4px outset red;
    padding:0;
    margin-left:25%;
    display:inline-block;
    padding-right:20;
    font-size:20;
    
}
nav,a{
    text-decoration:none;
}

.sectionHeader{
    font-size:20px;
    color:lightskyblue;
    font-family: 'B612', sans-serif;
    text-shadow: 5px 20px 14px;
}